body {
   background-image: url("images/bg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
}

h1 {
/* font-size: 28px;*/
font-size: x-large;
font-weight: bold;
}

h2 {
/*  font-size: 20px;*/
font-size: larger;
}

h3 {
/*font-size: 18px;*/
font-size: large;
}

a {
   color:#D3A753;
}

.infoHolder {
   margin: auto;
   width: 65%;
   max-height: 1000px;
   min-height: min-content;
   overflow: auto;
   margin-top: 100px;
}

.copyright {
   font-size: small;
   bottom: 0px;
   justify-content: center;
   position: fixed;
   margin: auto;
   width: 100%;
   text-align: center;
}

.banner {
   /*width: 100%;*/
   margin: auto;
   background-color: #D3A753;
   color: white;
   height: auto;
   font-size: medium;
   padding: 10px;
   text-align: center;
   position:static;
}

.logo {
   display: flex;
   margin: auto;
}
